#main {
    background-image: url("/images/bg-hero-desktop.svg");
    width: 100%;
    .navigation {
        display: flex;
        justify-content: space-between;
        width: 90%;
        .nav-btn {
            .custom-btn(@button-bg, @button-text)
        }
    }
}
#hero {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.mockups {
    width: 44%;
}
.cta-text {
    width: 44%;
}
article div{
    display: flex;
    width: 90%;
}
article div:nth-child(2) {
    flex-direction: row-reverse;
}