.custom-btn(@button-bg, @button-text) {
    display: block;
    background-color: @button-bg;
    margin: 0 10px 20px;
    cursor: pointer;
    height: 45px;
    font-size: 2rem;
    border-radius: 10px;
    color: @button-text;
}
.cta-btn(@cta-btn-bg, @cta-btn-text) {
    display: block;
    background-color: @cta-btn-bg;
    margin: 0 10px 20px;
    cursor: pointer;
    height: 45px;
    font-size: 2rem;
    border-radius: 10px;
    color: @cta-btn-text;
}